#users-view-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Контейнер для информации о пользователе и графиков */
.user-content {
    display: flex;
    gap: 20px; /* Отступ между колонками */
}

/* Левый контейнер с информацией о пользователе и платежными системами (60%) */
.user-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Правая часть (40%) для графиков */
.charts {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Секции */
.section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    color: #444;
}

/* Информация о пользователе */
.user-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info-label {
    font-weight: bold;
    font-size: 20px;
    color: #555;
    flex: 1;
}

.user-info-value {
    font-size: 18px;
    color: #777;
    text-align: left;
    flex: 2;
}

/* Графики */
.section canvas {
    height: 300px;
    width: 100%;
}

/* Платежные системы */
.payment-systems {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.payment-system {
    background-color: #f3f3f3;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-system-icon {
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
}

.payment-system-label {
    font-weight: bold;
}
