#service-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#users-view-content {
    width: 95%;
    display: flex;
    margin-top: 0;
    padding-top: 0;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}


.user-content {
    display: flex;
    gap: 20px; 
}


.user-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.charts {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    color: #444;
}


.user-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info-label {
    font-weight: bold;
    font-size: 20px;
    color: #353535;
    flex: 1;
}

.user-info-value {
    font-size: 18px;
    color: #3f3f3f;
    text-align: left;
    flex: 2;
}


#users-view-content .section canvas {
    height: 300px;
    width: 100%;
}


.payment-systems {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.payment-system {
    background-color: #f3f3f3;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-system-icon {
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
}

.payment-system-label {
    font-weight: bold;
}


.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 40px;
    position: relative;
    top: -10px; 
}

/* Стрелка назад */
.back-arrow {
    position: relative;
    font-size: 48px;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 10px; 
    top: -5px; 
}

.back-arrow:hover {
    color: #555;
}

/* Заголовок */
h1 {
    flex: 1;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin: 0;
    line-height: 1.2; 
}

/* Кнопка "Редактировать" */
.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    top: -5px; 
    position: relative;
}

.edit-button:hover {
    background-color: #0056b3;
}

.edit-button:active {
    background-color: #004085;
}


.edit-button:disabled {
    background-color: #d6d6d6; 
    color: #a1a1a1;           
    cursor: not-allowed;      
    border: none;             
    box-shadow: none;         
}


.edit-button:disabled:hover,
.edit-button:disabled:active {
    background-color: #d6d6d6; 
    color: #a1a1a1;          
}

